<div *ngIf="merchantTransactionResponse" class="container">
    <header class="header clear-fix">
        <h3 class="text-muted">Paymex Payment Portal</h3>
    </header>
    <main>
        <div class="jumbotron">
            <div class="merchant-info">
                <label class="pr-2">Merchant Name:</label>{{merchantTransactionResponse.merchantName}}
                <br>
                <label class="pr-2">Description:</label>{{merchantTransactionResponse.description}}
                <br>
                <label class="pr-2">Total Price:</label>{{merchantTransactionResponse.totalPrice}}
                <br>
            </div>
        </div>
        <div>
            <form novalidate>
                <div class="form-group row">
                    <label for="paymentKey" class="col-sm-2 col-form-label text-muted">Payment Key</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="paymentKey" name="paymentKey" [(ngModel)]="payment.key" required [textMask]="{mask: mask}" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="expiryDate" class="col-sm-2 col-form-label text-muted">Expiry Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="expiryDate" name="expiryDate" [(ngModel)]="payment.expiryDate" required>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label for="pvn" class="col-sm-2 col-form-label text-muted">PVN</label>
                    <div class="col-sm-10">
                        <input required type="text" class="form-control" id="pvn" name="pvn" [(ngModel)]="payment.pvn" required>
                    </div>
                </div> -->
                <br>
                <div class="form-group row">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn-lg" (click)="submitPayment()">Submit Payment</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer></footer>
</div>