$app-color:          #FE763A !default;

.jumbotron{
    text-align: left;
    background-color: $app-color;
}

.merchant-info{
    color: white;
}

button{
    color: white;
}

.btn-paymex {
    background-color: $app-color;
    cursor: pointer;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
    
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}